tabela_bk_cinza_02

.rodape {
	background-color:#006699;
	font:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#999999;
	text-align:center;
}

.clsDiv {
	background-color: #CCCCCC;
	scrollbar-arrow-color:#000000;
	scrollbar-3dlight-color:#000000;
	scrollbar-highlight-color:#CCCCCC;
	scrollbar-face-color:#FFFFFF;
	scrollbar-shadow-color:#C9C9C9;
	scrollbar-darkshadow-color:#EEEEEE;
	scrollbar-track-color:#CCCCCC;
	BORDER-RIGHT: 1px solid;
	a BORDER-TOP: 1px solid; 
	OVERFLOW: auto;
	BORDER-LEFT: 1px solid;
	WIDTH: 400px;
	HEIGHT: 120px;
	BORDER-BOTTOM: 1px solid;
	WHITE-SPACE: nowrap;
"
}
.menu {
	background-color:#006699;
	font:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#FFFFFF;
	font-weight:bold;
	text-align:left;
	vertical-align:top;
}
.Mascara1 {behavior: url( mascara.htc ); 
	border:1px solid #000000;
	font:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	background-color:#FFFFFF;
	COLOR: #000000; 
	HEIGHT: 20px; 
	text-align:left;
	BORDER-RIGHT: #999999 1px solid; 
	BORDER-TOP: #999999 1px solid; 
	BORDER-LEFT: #999999 1px solid; 
	BORDER-BOTTOM: #999999 1px solid; 
}


.tabela_titulo_centrado{
	font-family:Arial, Verdana, Helvetica;
	font-size: 10px;
	color: #333333;
	font-weight:normal;
	background-image: url(../img/bg_menu_interna5.jpg);
	text-align: center;
	background-repeat: repeat-x;
}

.lbl_link_esquerda_12 {
	font-family:Arial, Verdana, Helvetica;
	font-size: 12px;
	color: #000000;
	text-align:left;
	font-weight:normal;
	text-align:left;	
 }

.menu_localizacao {
	font-family:Arial, Verdana, Helvetica;
	font-size: 10px;
	color: #336699;
	text-align:left;
}
.tcat
{
	background: #80A9EA url(https://http://rodrigo/sig/img/tablebg.gif) repeat-x top left;
    COLOR: #FFFFFF;
	FONT: 12px Verdana, Tahoma;
}
.lbl_item_10_c {
	font-family:Arial, Verdana, Helvetica;
	font-size: 10px;
	color: #000000;
	text-align:left;
}
.titulo_campo {
	font-family:Arial, Verdana, Helvetica;
	font-size: 12px;
	color: #7A7A7A;
	text-align:left;
	font-weight:bold;
 }
.titulo_campo_direita {
	font-family:Arial, Verdana, Helvetica;
	font-size: 12px;
	color: #7A7A7A;
	text-align:left;
	font-weight:bold;
	text-align:right;
 }
.sub_titulo_campo {
	font-family:Arial, Verdana, Helvetica;
	font-size: 10px;
    color: #999999;
    text-align:left;
 }
.form_btn_primario {
	background-color:#999;
	cursor:pointer;
	-moz-border-radius: 4px;
	border-radius:4px
}
.form_btn_secundario {
	background-color:#EEE;
	cursor:pointer;
	-moz-border-radius: 4px;
	border-radius:4px
}

.campo {
	border:1px solid #000000;
	font:Verdana, Arial, Helvetica, sans-serif;
	font-size:14px;
	background-color:#FFFFFF;
	color:#000000;
	text-align:left;
}
.form_txt16 { 
	FONT-FAMILY: verdana; 
	FONT-SIZE: 16px; 
	COLOR: #000000; 
	HEIGHT: 20px; 
	background-color: #FFFFFF;
	BORDER-RIGHT: #CCCCCC 1px solid; 
	BORDER-TOP: #CCCCCC 1px solid; 
	BORDER-LEFT: #CCCCCC 1px solid; 
	BORDER-BOTTOM: #CCCCCC 1px solid; 
}
.form_txt_lock {
	FONT-FAMILY: verdana;
	FONT-SIZE: 11px;
	COLOR: #000000;
	HEIGHT: 20px;
	background-color: #EEEEEE;
	BORDER-RIGHT: #999999 1px solid;
	BORDER-TOP: #999999 1px solid;
	BORDER-LEFT: #999999 1px solid;
	BORDER-BOTTOM: #999999 1px solid;
	font-weight: bold;
	text-align:right;	
	
}
.form_txt_lock2 {
	FONT-FAMILY: verdana;
	FONT-SIZE: 11px;
	COLOR: #000000;
	HEIGHT: 20px;
	background-color: #CCCCCC;
	BORDER-RIGHT: #999999 1px solid;
	BORDER-TOP: #999999 1px solid;
	BORDER-LEFT: #999999 1px solid;
	BORDER-BOTTOM: #999999 1px solid;
	font-weight: bold;
	text-align:right;	
	
}
.form_txt_lock3 {
	FONT-FAMILY: verdana;
	FONT-SIZE: 11px;
	COLOR: #000000;
	HEIGHT: 20px;
	background-color: #CCCCCC;
	BORDER-RIGHT: #999999 1px solid;
	BORDER-TOP: #999999 1px solid;
	BORDER-LEFT: #999999 1px solid;
	BORDER-BOTTOM: #999999 1px solid;
	text-align:right;		
}
.form_txt_lock4 {
	FONT-FAMILY: verdana;
	FONT-SIZE: 11px;
	COLOR: #000000;
	HEIGHT: 20px;
	background-color: #CCCCCC;
	BORDER-RIGHT: #999999 1px solid;
	BORDER-TOP: #999999 1px solid;
	BORDER-LEFT: #999999 1px solid;
	BORDER-BOTTOM: #999999 1px solid;
	text-align:left;		
}
.form_txt_lock_bolf_left {
	FONT-FAMILY: verdana;
	FONT-SIZE: 11px;
	COLOR: #000000;
	HEIGHT: 20px;
	background-color: #EEEEEE;
	BORDER-RIGHT: #999999 1px solid;
	BORDER-TOP: #999999 1px solid;
	BORDER-LEFT: #999999 1px solid;
	BORDER-BOTTOM: #999999 1px solid;
	font-weight: bold;
	text-align:left;	
	
}
.form_txt_lock_preto {
	FONT-FAMILY: verdana;
	FONT-SIZE: 11px;
	COLOR: #000000;
	HEIGHT: 20px;
	background-color: #FFFFFF;
	BORDER-RIGHT: #FFFFFF 1px solid;
	BORDER-TOP: #FFFFFF 1px solid;
	BORDER-LEFT: #FFFFFF 1px solid;
	BORDER-BOTTOM: #FFFFFF 1px solid;
	font-weight: bold; 
}
.form_txt_lock_verde {
	FONT-FAMILY: verdana;
	FONT-SIZE: 11px;
	COLOR: #009900;
	HEIGHT: 20px;
	background-color: #EEEEEE;
	BORDER-RIGHT: #999999 1px solid;
	BORDER-TOP: #999999 1px solid;
	BORDER-LEFT: #999999 1px solid;
	BORDER-BOTTOM: #999999 1px solid;
	font-weight: bold;
	text-align:right;	
}
.form_txt_lock_azul {
	FONT-FAMILY: verdana;
	FONT-SIZE: 11px;
	COLOR: #0066ff;
	HEIGHT: 20px;
	background-color: #EEEEEE;
	BORDER-RIGHT: #999999 1px solid;
	BORDER-TOP: #999999 1px solid;
	BORDER-LEFT: #999999 1px solid;
	BORDER-BOTTOM: #999999 1px solid;
	font-weight: bold;
	text-align:right;	
}
.form_txt_lock_alerta {
	FONT-FAMILY: verdana;
	FONT-SIZE: 11px;
	COLOR: #FF0000;
	HEIGHT: 20px;
	background-color: #EEEEEE;
	BORDER-RIGHT: #999999 1px solid;
	BORDER-TOP: #999999 1px solid;
	BORDER-LEFT: #999999 1px solid;
	BORDER-BOTTOM: #999999 1px solid;
	font-weight: bold;
	text-align:right;		
}
.form_txt { 
	FONT-FAMILY: verdana; 
	FONT-SIZE: 11px; 
	COLOR: #000000; 
	HEIGHT: 20px; 
	background-color: #FFFFFF;
	BORDER-RIGHT: #999999 1px solid; 
	BORDER-TOP: #999999 1px solid; 
	BORDER-LEFT: #999999 1px solid; 
	BORDER-BOTTOM: #999999 1px solid; 
}
.form_txt_tamanho {
	FONT-FAMILY: verdana;
	FONT-SIZE: 9px;
	COLOR: #000000;
	HEIGHT: 15px;
	background-color: #FFF;
	BORDER-RIGHT: #999999 1px solid;
	BORDER-TOP: #999999 1px solid;
	BORDER-LEFT: #999999 1px solid;
	BORDER-BOTTOM: #999999 1px solid;
}
.form_txt_valor { 
	FONT-FAMILY: verdana; 
	FONT-SIZE: 11px; 
	COLOR: #000000; 
	HEIGHT: 20px; 
	text-align:right;	
	background-color: #FFFFFF;
	BORDER-RIGHT: #999999 1px solid; 
	BORDER-TOP: #999999 1px solid; 
	BORDER-LEFT: #999999 1px solid; 
	BORDER-BOTTOM: #999999 1px solid; 
}
.form_txt_valor_vermelho { 
	FONT-FAMILY: verdana; 
	FONT-SIZE: 11px; 
	COLOR: #CC0000; 
	HEIGHT: 20px; 
	text-align:right;	
	background-color: #FFFFFF;
	BORDER-RIGHT: #999999 1px solid; 
	BORDER-TOP: #999999 1px solid; 
	BORDER-LEFT: #999999 1px solid; 
	BORDER-BOTTOM: #999999 1px solid; 
}
.form_txt_valor_verde { 
	FONT-FAMILY: verdana; 
	FONT-SIZE: 11px; 
	COLOR: #009900; 
	HEIGHT: 20px; 
	text-align:right;	
	background-color: #FFFFFF;
	BORDER-RIGHT: #999999 1px solid; 
	BORDER-TOP: #999999 1px solid; 
	BORDER-LEFT: #999999 1px solid; 
	BORDER-BOTTOM: #999999 1px solid; 
}
.form_txt_valor_azul { 
	FONT-FAMILY: verdana; 
	FONT-SIZE: 11px; 
	COLOR: #0066FF; 
	HEIGHT: 20px; 
	text-align:right;	
	background-color: #FFFFFF;
	BORDER-RIGHT: #999999 1px solid; 
	BORDER-TOP: #999999 1px solid; 
	BORDER-LEFT: #999999 1px solid; 
	BORDER-BOTTOM: #999999 1px solid; 
}
.form_txt_area { 
	FONT-FAMILY: verdana; 
	FONT-SIZE: 11px; 
	COLOR: #000000; 
	background-color: #FFFFFF;
	BORDER-RIGHT: #999999 1px solid; 
	BORDER-TOP: #999999 1px solid; 
	BORDER-LEFT: #999999 1px solid; 
	BORDER-BOTTOM: #999999 1px solid; 
}
.form_txt_area_preto { 
	FONT-FAMILY: verdana; 
	FONT-SIZE: 11px; 
	COLOR: #000000; 
	background-color: #FFFFFF;
	BORDER-RIGHT: #999999 1px solid; 
	BORDER-TOP: #999999 1px solid; 
	BORDER-LEFT: #999999 1px solid; 
	BORDER-BOTTOM: #999999 1px solid; 
}
.form_txt_area_vermelho { 
	FONT-FAMILY: verdana; 
	FONT-SIZE: 11px; 
	COLOR: #FF0000; 
	background-color: #FFFFFF;
	BORDER-RIGHT: #999999 1px solid; 
	BORDER-TOP: #999999 1px solid; 
	BORDER-LEFT: #999999 1px solid; 
	BORDER-BOTTOM: #999999 1px solid; 
}
.form_txt_area_azul { 
	FONT-FAMILY: verdana; 
	FONT-SIZE: 11px; 
	COLOR: #0000CC; 
	background-color: #FFFFFF;
	BORDER-RIGHT: #999999 1px solid; 
	BORDER-TOP: #999999 1px solid; 
	BORDER-LEFT: #999999 1px solid; 
	BORDER-BOTTOM: #999999 1px solid; 
}
.form_txt2 { 
	BORDER-RIGHT: #000000 1px solid; 
	BORDER-TOP: #000000 1px solid; 
	BORDER-LEFT: #000000 1px solid; 
	BORDER-BOTTOM: #000000 1px solid; 
	FONT-FAMILY: verdana; 
	FONT-SIZE: 12px; 
	COLOR: #000000; 
	HEIGHT: 20px; 
	background-color: #FFFFFF;
}
.form_lst {
	BORDER-RIGHT: #000000 1px solid; 
	BORDER-TOP: #000000 1px solid; 
	BORDER-LEFT: #000000 1px solid; 
	BORDER-BOTTOM: #000000 1px solid; 
	font:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	background-color:#FFFFFF;
	color:#000000;
	text-align:left;
}
.form_lst10 {
	BORDER-RIGHT: #999999 1px solid; 
	BORDER-TOP: #999999 1px solid; 
	BORDER-LEFT: #999999 1px solid; 
	BORDER-BOTTOM: #999999 1px solid; 
	font:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	background-color:#FFFFFF;
	color:#000000;
	text-align:left;
	width: 220;
}
.form_lst10_medio {
	BORDER-RIGHT: #000000 1px solid; 
	BORDER-TOP: #000000 1px solid; 
	BORDER-LEFT: #000000 1px solid; 
	BORDER-BOTTOM: #000000 1px solid; 
	font:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	background-color:#FFFFFF;
	color:#000000;
	text-align:left;
	width: 335;
}
.form_lst11 {
	BORDER-RIGHT: #000000 1px solid; 
	BORDER-TOP: #000000 1px solid; 
	BORDER-LEFT: #000000 1px solid; 
	BORDER-BOTTOM: #000000 1px solid; 
	font:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	background-color:#FFFFFF;
	color:#000000;
	text-align:left;
	width: 200;
}
.form_lst12 {
	border:1px solid #000000;
	font:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	background-color:#FFFFFF;
	color:#000000;
	text-align:left;
	width: 150;
}
.form_lst11_grande {
	border:1px solid #000000;
	font:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	background-color:#FFFFFF;
	color:#000000;
	width: 550;
}
.form_lst14_grande {
	border:1px solid #999999;
	font:Verdana, Arial, Helvetica, sans-serif;
	font-size:14px;
	background-color:#FFFFFF;
	color:#000000;
	width: 550;
}
.form_select10 {
	border:1px solid #999999;
	font:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#000000;
	text-align:left;
	HEIGHT: 20px; 	
}
.form_select2_10 {
	border:1px solid #999999;
	font:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	background-color:#FFFFFF;
	color:#000000;
	HEIGHT: 20px; 	
}
.form_select12 {
	border:1px solid #999999;
	font:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	background-color:#FFFFFF;
	color:#000000;
	text-align:left;
	HEIGHT: 20px; 	
}
.form_rdb_chk {
	background-color:#ffffff;
}

.form_titulo_campo{
	font-family:Arial, Verdana, Helvetica;
	font-size: 12px;
	color: #000000;
	text-align:right;
	font-weight:normal;
	background-color: #EEEEEE;
}
.form_campo{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #999999;
	text-align:left;
	background-color:#EEEEEE;
}
.form_titulo_campo_left_sem_borda{
	font-family:Arial, Verdana, Helvetica;
	font-size: 12px;
	color: #000000;
	text-align:left;
	font-weight:bold;	
	background-color:#b5cee6;
}
.form_titulo_campo_left_sem_borda_10{
	font-family:Arial, Verdana, Helvetica;
	font-size: 10px;
	color: #000000;
	text-align:left;
	font-weight:bold;	
	background-color:#b5cee6;
}
.form_campo_borda_righ{
	font-family:Arial, Verdana, Helvetica;
	font-size: 12px;
	color: #000000;
	text-align:right;
	font-weight:bold;	
	border: 1px solid #000000;
}
.form_campo_borda_left{
	font-family:Arial, Verdana, Helvetica;
	font-size: 12px;
	color: #000000;
	text-align:left;
	font-weight:bold;	
	border: 1px solid #000000;
}
.form_campo_borda_center{
	font-family:Arial, Verdana, Helvetica;
	font-size: 12px;
	color: #000000;
	text-align:center;
	font-weight:bold;	
	border: 1px solid #000000;
}