.nprint{
display:none;
}
.nshow{
display:;
}
.botaoimagem{
display:none;
}
.lbl_item_09_c {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #000000;
	font-weight:normal;
	text-align:center;	
 }
.lbl_item_09_d {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #000000;
	font-weight:normal;
	text-align:right;	
 }
 .lbl_item_09_e {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #000000;
	font-weight:normal;
	text-align:left;	
 }
.lbl_item_09_c_b {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #000000;
	font-weight:bold;
	text-align:center;	
 }
.lbl_item_09_d_b {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #000000;
	font-weight:bold;
	text-align:right;	
 }
 .lbl_item_09_e_b {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #000000;
	font-weight:bold;
	text-align:left;	
 }
.lbl_item_10_c {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
	font-weight:normal;
	text-align:center;	
 }
.lbl_item_10_d {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
	font-weight:normal;
	text-align:right;	
 }
 .lbl_item_10_e {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
	font-weight:normal;
	text-align:left;	
 }
.lbl_item_10_c_b {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
	font-weight:bold;
	text-align:center;	
 }
.lbl_item_10_d_b {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
	font-weight:bold;
	text-align:right;	
 }
 .lbl_item_10_e_b {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
	font-weight:bold;
	text-align:left;	
 }
.lbl_item_12_c {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	font-weight:normal;
	text-align:center;	
 }
.lbl_item_12_d {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	font-weight:normal;
	text-align:right;	
 }
 .lbl_item_12_e {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	font-weight:normal;
	text-align:left;	
 }
 .lbl_item_12_e_i {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	font-weight:bold;
	text-align:left;
	font-style:italic
 }
.lbl_item_12_c_b {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	font-weight:bold;
	text-align:center;	
 }
.lbl_item_12_d_b {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	font-weight:bold;
	text-align:right;	
 }
 .lbl_item_12_e_b {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	font-weight:bold;
	text-align:left;	
 }
 .lbl_item_14_e_b {
	font-family:Arial, Verdana, Helvetica;
	font-size: 14px;
	color: #000000;
	font-weight:bold;
	text-align:left;	
}
.lbl_item_14_d {
	font-family:Arial, Verdana, Helvetica;
	font-size: 14px;
	color: #000000;
	font-weight:normal;
	text-align:right;	
}
.lbl_item_14_e {
	font-family:Arial, Verdana, Helvetica;
	font-size: 14px;
	color: #000000;
	font-weight:normal;
	text-align:left;	
}
.lbl_item_16_c_b {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #000000;
	font-weight:bold;
	text-align:center;	
 }
 
 .lbl_item_16_d_b {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #000000;
	font-weight:bold;
	text-align:right;	
 }
 
.lbl_item_16_e_b {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #000000;
	font-weight:bold;
	text-align:left;	
 }
.lbl_item_11_c {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	font-weight:normal;
	text-align:center;	
 }
.lbl_item_11_d {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	font-weight:normal;
	text-align:right;	
 }
.lbl_item_11_d_b {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	font-weight:bold;
	text-align:right;	
 }
 
.lbl_item_11_e_b {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	font-weight:bold;
	text-align:left;	
 }
 .lbl_item_11_e {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	font-weight:normal;
	text-align:left;	
 }
.lbl_item_11_d_brc {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	font-weight:normal;
	text-align:right;	
 }
 .lbl_item_11_e_brc {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	font-weight:normal;
	text-align:left;	
 }
.lbl_item_11_c_b_brc {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	font-weight:normal;
	text-align:center;	
 }
.lbl_item_11_d_vrm {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FF0000;
	font-weight:normal;
	text-align:right;	
 }
 .lbl_item_11_e_vrm {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FF0000;
	font-weight:normal;
	text-align:left;	
 }
.lbl_item_11_c_b_vrm {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FF0000;
	font-weight:normal;
	text-align:center;	
 }
.lbl_item_11_d_azu {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #0000FF;
	font-weight:normal;
	text-align:right;	
 }
 .lbl_item_11_e_azu {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #0000FF;
	font-weight:normal;
	text-align:left;	
 }
.lbl_item_11_c_b_azu {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #0000FF;
	font-weight:bold;
	text-align:center;	
 }
.lbl_item_20_c_b {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #000000;
	font-weight:bold;
	text-align:center;
}
.lbl_item_14_c_b {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #000000;
	font-weight:bold;
	text-align:center;	
}
.lbl_item_11_c_azl {
	font-family:Arial, Verdana, Helvetica;
	font-size: 11px;
	color: #0000FF;
	font-weight:normal;
	text-align:center;	
}
.lbl_item_18_c_b {
	font-family:Arial, Verdana, Helvetica;
	font-size: 18px;
	color: #000000;
	font-weight:bold;
	text-align:center;	
}
.lbl_item_25_c_b {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 25px;
	color: #000000;
	font-weight:bold;
	text-align:center;	
	font-style: italic;
}
.linha_Tit_Tab_Rel_r_b_10_trb{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight:bold;	
	color: #000000;
	text-align:right;
	border: 1px solid;
	border-top-color: #000000;
	border-right-color: #000000;	
	border-bottom-color: #000000;
	border-left-color: #FFFFFF;
	background-color: B5CEE6;
}
.linha_Tit_Tab_Rel_c_b_10_trb{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight:bold;	
	color: #000000;
	text-align:center;
	border: 1px solid;
	border-top-color: #000000;
	border-right-color: #000000;	
	border-bottom-color: #000000;
	border-left-color: #FFFFFF;
	background-color: B5CEE6;
}